<div class="letters">
  <div class="current_score">
    <% if @current_score %>
      <h3>your scored: <%= @current_score %></h3>
    <% end %>
  </div>
  <div class="high_score">
    <h3>Your high score: <%= @highest_score %></h3>
  </div>
</div>
