<%= render partial: 'score_board' %>

<h2>Result</h2>

<% @messages.each do |message| %>
  <h4><%= message %></h4>
<% end %>

<div class="btn btn-empty btn-round">
  <%= link_to 'Play again', root_path %>
</div>
